/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2017, 1:08:12 PM
    Author     : thomas
*/

body {

}

#jmuSunset {
    margin: 90px 0 0 0;
    text-align: center;
}

#aboutHeading {
    margin: 30px 0 0 0;
    font-family: 'Ranga', cursive;
    text-align: center;
    font-size: 40px;
}

#slogan {
   font-size: 25px;
   font-family: 'Ranga', cursive; 
}

#wrapperAboutText {
    display: inline-block;
    position: relative;
    left: 50%;
}

#howItWorks {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

#mission {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

#aboutText {
    width: 1200px;
    display: inline-block;
    font-family: 'PT Sans Narrow',sans-serif;
    -moz-columns: 2 100px;
    -moz-column-rule: 1px solid rgb(147, 112, 219);
    -moz-column-gap: 40px;
    margin: 20px 0px 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
